body{
  margin: 0;
  padding: 0;
  margin: auto;
  width: 95vw;
  background-color: #323232;
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
}
.navmenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  flex-wrap: nowrap;
}
.iconBackground {
  width: 100%;
  height: 100%;
}
.hiddenMenu {
  display: none;
}
