body{
  background-color: gray;
  width: 100%;
  margin: 0;
  padding: 0;
}
#characterEmblems {
  display: flex;
  flex-direction:row;
  flex-grow: 1;
  justify-content: space-around;
}
.image-text-overlay {
  position: relative;
}
.image-overlay-TL {
  margin: 0;
  position: absolute;
  top: 0;
  left: 20px;
  color: white;
}
.image-overlay-TR {
  margin: 0;
  position: absolute;
  top: 0;
  right: 20px;
  color: white;
}
.image-overlay-BL {
  margin: 0;
  position: absolute;
}
.character-info-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-grow: 1;
}
