body {
  background-color: #272627;
  width: 100vw;
  margin: auto;
  padding: 0;
}
#character-header {
  z-index: -1;
  position: relative;
  width: 100%;
  height: 20%;
  margin: auto;
}
#character-header > div {
  position: absolute;
}
#character-header > div:hover > div {
  display: flex;
}
#Subclass-slots {
  display: flex;
  flex-direction: row-reverse;
  width: 30%;
  height: 100%;
  top: 50%;
  right: 0%;
  transform: translate(0,-50%);
}
#Subclass-slots img {
  height: 100%;
}
#Subclass-slots > div {
  height: 100%;
  display: none;
  flex-direction: row;
}
#Subclass-slots:hover div {
  display: flex;
}
#character-info {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

#character-header > div > h1{
  margin: 0;
  color: white;
}
#emblem-icon{
  height: 80%;
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  left: 0%;
  z-index: 1;
}
#emblem-back{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 0;
}
.character-equipment{
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.item-slots:hover > div {
  display: flex;
}
.item-slots {
  position: relative;
}
.item-container {
  position: absolute;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  transform: translate(-35%,0);
  top: 100%;
  left: -0%;
  width: 350%;
  padding-top: 20px;
}
#next-button {
  height: 100%;
  width: 10%;
  text-align: center;
}
#back-button {
  height: 100%;
  width: 10%;
  text-align: center;
}
