body {
  background-color: #272627;
  width: 100vw;
  margin: auto;
  padding: 0;
}
#character-header {
  position: relative;
  width: 100%;
  height: 30%;
}
#yes-man{
  width: 100%;
  height:100%;
}
#character-info {
  position: relative;
  float: left;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
#emblem-icon {
  position:absolute;
  z-index: 1;
  height: 80%;
  top: 50%;
  transform: translate(0,-50%);
  left: 0%;
}
#emblem-back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: -1;
}
#subclass-container{
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  top: 50%;
  transform: translate(0,-50%);
  float: right;
}
#subclass {
  height: 60%;
}
#subclass-equipment {
  height: 100%;
  display: none;
  flex-direction: row;
}
#subclass-primary-container {
  height: 60%;
}
#subclass-primary-container > img {
  height: 100%;
}
#subclass-container:hover > #subclass-equipment {
  display: flex;
}
.character-equipment{
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.item-slots:hover > div {
  display: flex;
}
.item-slots {
  position: relative;
}
.item-container {
  position: absolute;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  transform: translate(-35%,0);
  top: 100%;
  left: -0%;
  width: 350%;
  padding-top: 20px;
}
.primary-item {
  border-style: 10px solid white;
}
#next-button {
  height: 100%;
  width: 10%;
  text-align: center;
}
#back-button {
  height: 100%;
  width: 10%;
  text-align: center;
}
#popup-item-menu {
  position: absolute;
  display: none;
  top: 0%;
  left: 0%;
  width: 10%;
  height: 10%;
  background-color: black;

}
