body{
  margin: 0;
  padding: 0;
  width: 100vw;
  background-color: #323232;
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
}
#navigation-menu {
  height: 8vh;
  background-color: #282828;
}
#navigation-menu ul{
  height: 100%;
  width: 100%;
  display: flex;
  margin: auto;
  padding: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#navigation-menu ul li{
  list-style-type: none;
  width: 15%;
  height: 100%;
}
#navigation-menu ul:last-child li{
  margin-right: 0;
}
#navigation-menu ul:first-child li{
  background-color: white;
}
#navigation-menu ul li a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 200%;
  text-align: center;
  text-decoration: none;
  color: black;
}
#navigation-menu a:hover{
  background-color: rgba(10,10,10,0.6);
}
#statistics {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 2% 2% 0 2%;
}
#statContainers {
  padding: 2% 0 2% 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid red;
}
#statContainers h1 {
  text-align: center;
}

#statContainers div {
  width: 60%;
  background-repeat: no-repeat;
  display: flex;
  list-style-type: none;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  border: 2px solid blue;
}
#subStatContainers {
  display: none;
  padding: 2% 0 2% 0;
  flex: 1;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 90%;
  align-items: center;
  justify-content: space-between;
}
#subStatContainers div{
  margin: 1% 0 1% 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 100%;
}
