body{
  margin: 0;
  padding: 0;
  width: 100vw;
  background-color: #323232;
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
}
#navigation-menu {
  height: 8vh;
  background-color: #282828;
}
#navigation-menu > ul{
  height: 100%;
  width: 100%;
  display: flex;
  margin: auto;
  padding: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#navigation-menu > ul > li{
  list-style-type: none;
  width: 15%;
  height: 100%;
}
#navigation-menu > ul > li > a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 200%;
  text-align: center;
  text-decoration: none;
  color: black;
}
#navigation-menu > a:hover{
  background-color: rgba(10,10,10,0.6);
}
#statistics {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 2% 2% 0 2%;
}
#statistics > div{
  margin-top: 2%;
  margin-bottom: 2%;
}
#statContainers {
  background-color: black;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-style:outset;
  border-color: lightblue;
  border-radius: 15px;
}
#statContainers > h1 {
  text-align: center;
}
#statContainers > header{
  width: 100%;
  height: 100%;
  align-items: center;
  position: relative;
}
#statContainers > header > h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: white;
}
#statContainers > header > img{
  display: block;
  margin: auto;
  width: 99%;
  height: 95%;
  object-fit: cover;
  z-index: -1;
}

#subStatContainers {
  display: none;
  flex: 1;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 90%;
  align-items: center;
  justify-content: space-between;
}
#subStatContainers > div{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: #404040;
  border-radius: 20px;
}
#subStatContainers > div > header {
  align-items: center;
  position: relative;
}
#subStatContainers > div > header> h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: white;
}
#subStatContainers > div > header > img{
  display: block;
  width: 100%;
  height: 100%;
}
#subStatContainers > div > aside {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 2%;
}
#subStatContainers > div > aside > div {
  width: 60%;
  margin-right: 2%;
}
#subStatContainers > div > aside > div *{
  text-align: left;
  font-size: 150%;
}
#subStatContainers > div > aside > img {
  width: 25%;
  height: 50%;
  padding: 2% 0% 2% 2%;
}
